@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --gray-bg: #f7f5f4;
  --success-bg: radial-gradient(
    50% 99.91% at 50% 50%,
    #f7f5f4 53.45%,
    #ffffff 100%
  );
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
  --color-text-neutral: #666666;
  --color-success-bg: var(--success-bg);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-gray-bg: var(--gray-bg);
  --text-neutral: var(--text-neutral);
  --color-success-bg: var(--success-bg);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Instrument Sans", sans-serif;
  }

  .success-bg {
    background: var(--success-bg);
  }
  .balance-card {
    @apply min-h-[8.25rem];
    border-radius: 8px;
    border: 1px solid #474f3b;
    background: linear-gradient(0deg, #44473c -255.97%, #191b1c 88.06%),
      radial-gradient(
        108.58% 46.94% at 10.85% -3.89%,
        rgba(50, 53, 55, 0.5) 0%,
        rgba(13, 16, 16, 0) 100%
      );
    box-shadow: 67px 40px 22px 0px rgba(9, 9, 12, 0),
      43px 26px 20px 0px rgba(9, 9, 12, 0.03),
      24px 14px 17px 0px rgba(9, 9, 12, 0.1),
      11px 6px 12px 0px rgba(9, 9, 12, 0.17),
      3px 2px 7px 0px rgba(9, 9, 12, 0.2);
  }

  .sidebar-icon {
    @apply bg-gradient-to-b from-[#1C1C1C] to-[#626262] bg-clip-text min-w-5 min-h-5;
  }

  .button-gradient {
    @apply bg-[#121212] bg-[linear-gradient(94.09deg,_#2A2A2D_-5.61%,_#4F4E63_28.11%,_#2A2A2D_48.06%,_#4F4E63_73.22%,_#2A2A2D_105.99%),radial-gradient(54.07%_86.67%_at_52.37%_6.67%,_#EDEFFF_0%,_#121212_100%)];
  }

  .button-light-gradient {
    background: radial-gradient(
        54.07% 86.67% at 52.37% 6.67%,
        #edefff 0%,
        rgba(237, 239, 255, 0) 100%
      ),
      linear-gradient(
        94deg,
        rgba(44, 43, 49, 0.77) -5.61%,
        rgba(89, 88, 102, 0.77) 28.11%,
        rgba(44, 43, 49, 0.77) 48.06%,
        rgba(89, 88, 102, 0.77) 73.22%,
        rgba(44, 43, 49, 0.77) 105.99%
      ),
      #f3f3f3;
    background-blend-mode: overlay, color-burn, normal;
  }

  .icon-gradient {
    background: radial-gradient(
        54.07% 86.67% at 52.37% 6.67%,
        #edefff 0%,
        rgba(237, 239, 255, 0) 100%
      ),
      linear-gradient(
        237.02deg,
        rgba(31, 31, 33, 0.77) -139.17%,
        rgba(62, 61, 76, 0.77) -58.36%,
        rgba(31, 31, 33, 0.77) -10.55%,
        rgba(62, 61, 76, 0.77) 49.76%,
        rgba(31, 31, 33, 0.77) 128.3%
      ),
      #121212;
    background-blend-mode: overlay, normal, normal;
  }

  .contract-example-container {
    @apply bg-[lightgray]/50;
    mix-blend-mode: multiply;
  }

  .center {
    @apply items-center justify-center;
  }

  .confirm-button {
    @apply text-white py-2 px-[17px];
    border-radius: 7px;
    background: linear-gradient(0deg, #44473c -100.14%, #191b1c 88.06%);
  }

  .hide-scroll-bar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .dashed-gradient-line {
    mask-image: linear-gradient(to bottom, black 0%, black 50%, #66666600 100%);
    -webkit-mask-image: linear-gradient(
      to bottom,
      black 0%,
      black 50%,
      #66666600 100%
    );
  }
}
